{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "generators": true,
    "restParams": true,
    "spread": true
  },
  "rules": {
    "new-cap": 0, // Immutable.js constructors
    "no-confusing-arrow": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "react/prefer-stateless-function": 0
  }
}